name: dry-run-ci-cd

on:
  push:
    branches: [main]

jobs:
  frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: echo
        run: echo "Hello World"
      - name: echo
        run: echo "This is a dry run"
      - name: echo
        run: echo "This is a dry run"

  backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: echo
        run: echo "Hello World"
      - name: echo
        run: echo "This is a dry run"
      - name: echo
        run: echo "This is a dry run"
